{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'nav.html.twig' %}
{% endblock %} 

{% block body %}
<h1>Formulaire légal</h1>
<div class="form">
    <form method="POST" action="{{path('legal')}}">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
        {{ form_end(form) }}
    </form>
</div>
{% endblock %}