{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'nav.html.twig' %}
{% endblock %} 

{% block body %}
<h1>Formulaire de demande de devis</h1>
<div class="form">
    <form method="POST">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Soumettre</button>
        {{ form_end(form) }}
    </form>
</div>
{% endblock %}