<nav class="navbar">
        <ul>
            <li><a href="{{path('accueil')}}">Accueil</a></li>
            <li><a href="{{path('legal')}}">Formulaire CGV et Mention Légale</a></li>
            <li><a href="{{path('interaction')}}">Consultation CGV et Mention Légale</a></li>

        </ul>
    </nav>